
@(userForm: Form[User])(implicit lang : Lang)
@import helper._
@main() {
<br>
<br>
<br> 
<div class="col-lg-10">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                   Here you can predict the best offer to your subscriber 
                </div>
                <div class="panel-body">
@helper.form(action = routes.UserData.createUser1()) {
  @helper.inputText(userForm("IMSI"))
  <button>Predict offer</button>
}
</div>

                <div class="panel-footer">
                    .
                </div>
            </div>


}
